// Body
$body-bg: #FFFFFF;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$headings-color: #25396f;

// Colour
$primary: #435ebe;
$secondary: rgba(33, 37, 41, 0.75);
$light: #f2f7ff;

// Card
$card-border-radius: 0.7em;
$card-cap-bg: #FFFFFF;
$card-cap-padding-x: 1.5rem;
$card-cap-padding-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-spacer-y: 1.5rem;

// Button
$input-box-shadow: none;

